body {
  background: gainsboro;
}
.jumbotron {
  width: auto;
  height: 30rem;
}
.card {
  max-width: 500px;
  border-bottom-right-radius: 2.5rem;
  width: 18.1rem;
  justify-content: center;
  align-items: center;
}

.cardImg {
  max-height: 400rem;
}

.card-btn {
  background: gainsboro;
  border-radius: 20rem;
}

.card-btn:hover {
  background-color: #fffefe;
}

.footerText {
  color: #fffefe;
}